<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>broker-history</key>
    <array>
    	<string>https://ABC.123.com:443/broker/xml</string>
    </array>
    <key>defaultBroker</key>
        <string>https://ABC.123.com:443/broker/xml</string>
    <key>promptedUSBPrintingServicesInstall</key>
    <true/>
    <key>trustedServers</key>
    <array>
        <string>https://ABC.123.com:443/broker/xml</string>
    </array>
    <key>kAutoCheckForUpdates</key>
    <false/>
    <key>kAutoDownloadForUpdates</key>
    <false/>
    <key>kAllowDataSharing</key>
    <false/>
</dict>
</plist>
